:root {
  --background-color1: #e8d595;
  --background-color2: #e7cba9;
  --white: #e5e5e5;
  --accent-color: #8da47e;
  --shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.Photos section {
  background-color: var(--white);
  color: var(--accent-color);
  padding: 2rem;
  text-align: start;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  max-width: 800px;
  display: block;
  margin: 2rem;
  margin-bottom: 2rem;
}

.Photos .picture {
  border-radius: 1rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}
